<div class="mat-table admin-table">
    <div class="mat-header-row">
        <div class="mat-header-cell">ID</div>
        <div class="mat-header-cell">Product</div>
        <div class="mat-header-cell">Opening Stock</div> 
        <div class="mat-header-cell">Stock in hande</div> 
        <!-- <div class="mat-header-cell"></div> -->
        <div class="mat-header-cell"></div>
        <!-- <div class="mat-header-cell"></div> -->
    </div>
    <!-- <div *ngFor="let cat of categories | paginate: { itemsPerPage: count, currentPage: page }; let i=index" class="mat-row"> -->
        <div *ngFor="let stock of stockData | paginate: { itemsPerPage: count, currentPage: page }; let i=index" class="mat-row">
        <div class="mat-cell">{{i+1}}</div>
        <div class="mat-cell">{{stock.prod_name}}</div>
        <div class="mat-cell">{{stock.opening_stock}}</div>
        <div class="mat-cell">{{stock.stock_in_hand}}</div>
        <div class="mat-cell">
            <div class="p-1 actions">          
                <button mat-mini-fab color="primary" matTooltip="Edit" (click)="edit(stock)">
                    <mat-icon>edit</mat-icon>
                </button>
                <!-- <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(banner)">
                    <mat-icon>delete</mat-icon>
                </button> -->
            </div>
        </div>        
    </div>
    <div *ngIf="stockData.length > 0" fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>
